<%- include("partials/header"); -%>
<br><br><br><br><br><br>

<body>
    <h2 style="text-align: center; font-weight: bold;">OUR BLOOD AND ORGAN RECEPIENTS ACROSS THE GLOBE</h2>

        <table style="width: max-content;"class="content-table1">
        <thead>
          <tr>
            <th>Sr No.</th>
            <th>Name</th>
            <th>Blood Group</th>
            <th>Phone No.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Virat</td>
            <td>A+</td>
            <td>89775xxxxx</td>
          </tr>
          <tr class="activ    e-row">
            <td>2</td>
            <td>Frank</td>
            <td>AB-</td>
            <td>14573xxxxx</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Lucie</td>
            <td>B-</td>
            <td>76858xxxxx</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Philip</td>
            <td>A+</td>
            <td>12785xxxxx</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Yoda</td>
            <td>AB+</td>
            <td>14673xxxxx</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Jedi</td>
            <td>O-</td>
            <td>67849xxxxx</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Rohan</td>
            <td>B+</td>
            <td>97589xxxxx</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Tara</td>
            <td>AB+</td>
            <td>14869xxxxx</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Evans</td>
            <td>O+</td>
            <td>94673xxxxx</td>
          </tr>
          <tr>
            <td>10</td>
            <td>John</td>
            <td>A-</td>
            <td>86947xxxxx</td>
          </tr>                                        
        </tbody>
      </table>

      <table style="width: max-content;"class="content-table">
        <thead>
          <tr>
            <th>Sr No.</th>
            <th>Name</th>
            <th>Organ</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Adi</td>
            <td>Kidney</td>
            <td>India</td>
          </tr>
          <tr class="active-row">
            <td>2</td>
            <td>Sally</td>
            <td>Liver</td>
            <td>UK</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Jay</td>
            <td>Tissues</td>
            <td>India</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Justin</td>
            <td>Kidney</td>
            <td>Brazil</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Xytrn</td>
            <td>Tissues</td>
            <td>Russia</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Urbssn</td>
            <td>Liver</td>
            <td>UK</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Ejbfm</td>
            <td>Kidney</td>
            <td>India</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Ayndz</td>
            <td>Bone-marrow</td>
            <td>France</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Ihdjs</td>
            <td>Heart</td>
            <td>India</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Pwtbs</td>
            <td>Liver</td>
            <td>India</td>
          </tr>                                        
        </tbody>
      </table>


</body>

<style>    

.content-table1 {
    border-collapse: collapse;
    margin: 40px 0; 
    font-size: 1.5em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 150px;
  }
  
  .content-table1 thead tr {
    background-color: #ee283f;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table1 th,
  .content-table1 td {
    padding: 12px 15px;
    text-align: center;
  }
  
  .content-table1 tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table1 tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table1 tbody tr:last-of-type {
    border-bottom: 2px solid#ee283f;
  }

  .content-table {
    border-collapse: collapse;
    margin: 40px 0; 
    font-size: 1.5em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 850px;
    margin-top: -710px;
  }
  
  .content-table thead tr {
    background-color: #ee283f;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
    text-align: center;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid#ee283f;
  }

</style>

<%- include("partials/footer"); -%>