<%- include("partials/header"); -%>
<br><br><br>
<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        
        <span class="fs-4" ><h1 style="text-align: center;">WHAT ARE YOU HERE FOR : </h1> </span>
      </a>
    </header>


    <div class="row align-items-md-stretch ">
      <div class="col-md-6">
        <div class="h-100 p-5 border rounded-3 item" style="background-color: rgb(248, 153, 153);">
          <h3>Register as a Donor</h3>
          <p><br><strong>“If God Has Bestowed You With Great Health, Then Make Sure That You Are Beneficial To People Who Aren’t Bestowed By God With This Blessing.”</strong> </p>
          <button class="btn btn-outline-danger" type="button" ><a href="/form">Register Here</a></button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 border item rounded-3" style="background-color: rgb(248, 153, 153);">
          <h3>Register as a Recipient</h3>
          <p><br><strong>"Your organs can be extremely very useful to someone else after you are not there. Don’t burn them or bury them, donate them"</strong></p>
          <button class="btn btn-outline-danger" type="button"><a href="/recepients">Register here</a></button>
        </div>
      </div>
    </div>
<br><br><br>
    <%- include("partials/footer"); -%>