<%- include("partials/header"); -%>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
      <h1>SAVE LIVES  RECYCLE YOURSELF</h1>
      <h2>The value of life is not in its duration, but in its donation. You are not important because of how long you live, you are important because of how effective you live.
        </h2>
      <a href="#about" class="btn-get-started scrollto">Donate</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="100">
            <img src="assets/img/clients/heart.png" class="img-fluid" alt="" >
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="200">
            <img src="assets/img/clients/blood.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="300">
            <img src="assets/img/clients/stem-cells.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="400">
            <img src="assets/img/clients/eye.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="500">
            <img src="assets/img/clients/bone-marrow.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="600">
            <img src="assets/img/clients/kidneys.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section> 

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <h2>Donatly-About Us</h2>
            <h3>There are many ways to push for much-needed reforms: One way is to make a donation. It doesn't matter much whether you contribute publicly or in a private way - either way is good. What matters is your true intention.
              </h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
            <p>
              Donatly. is a non-profit movement empowering the awareness for blood and organ donation amongst the people . 
              It is created to inform the person about others' critical conditions and automatically get a chance to donate blood or organs as per their choices. 
              This is a safe space where people can read and get more information about the organ and blood donations, 
              the procedure to do so, the pre-requisites and what could be the possible effects of doing so.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> We are a common platform for blood/organ donation campaigns</li>
              <li><i class="ri-check-double-line"></i> We provide information about availiabilty of blood/organ donors and blood/organs in banks and hospitals. </li>
              <li><i class="ri-check-double-line"></i> We create awareness among people about myths and facts about donations</li>
            </ul>
            <p class="fst-italic">
              If you want your checkbook to follow your heart, make a donation to those doing work you support.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="319" data-purecounter-duration="1" class="purecounter"></span>
            <p>Organ donors</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>Blood donors</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="3463" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="54" data-purecounter-duration="1" class="purecounter"></span>
            <p>Campaigns</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
            <div class="content">
              <h3>Myths and facts about donations</h3>
              <p>
                We hunger to understand, so we invent myths about how we imagine the world is constructed - and they're, of course, based upon what we know,
                 which is ourselves and other animals. So we make up stories about how the world was hatched from a cosmic egg or created after the mating of cosmic deities or by some fiat of a powerful being.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-user-x"></i>
                    <h4>Organ donation can severely impact your health</h4>
                    <p>Recovery periods vary, but within three months, most donors will return to their pre-donation health. For instance,  after donating a portion of your liver, cells in the remaining lobe regenerate or grow back to the original size. After a kidney donation, one kidney can still effectively remove waste from the body.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bxs-skull"></i>
                    <h4>Organ/tissue removal will affect cremation/burial arrangements.</h4>
                    <p>The removal of organs or tissues will not interfere with customary funeral or burial arrangements. The appearance of the body is not altered.  A super specialized surgical transplant team removes the organs and tissues which can be transplanted in other patients.t</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-pulse"></i>
                    <h4>A history of medical illness will prevent me from becoming an organ donor.</h4>
                    <p>Very few medical conditions automatically disqualify you from donating organs. Doctors evaluate each potential donor on a case-by-case basis to ensure the safety of transplant. Despite former diseases, certain organs may be healthy and a match for transplant. For instance, those who have undergone cancer may still be able to donate their eyes. Advances in medicine continue to allow more and more people to be donors.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="text-center" data-aos="zoom-in">
          <h3>Call for assistance</h3>
          <p> We have a 24*7 customer assistance service. Please call us regarding any questions, comments or concerns you may have.<br> Toll-free number:</p>
          <a class="cta-btn" href="#">110203XXXX</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title" data-aos="fade-right">
              <h2>DONORS ACROSS <br> THE GLOBE</h2>
              <p>Every two seconds someone needs blood and there is no substitute for human blood. Blood/Organ donation is an extremely noble deed, yet there is an scarcity of regular donors in the world. We focus on creating and expanding a virtual army of blood/organ donating volunteers who could be searched and contacted further by the patients in times of need.</p>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-md-6 d-flex align-items-stretch">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon"><i class="bx bxs-donate-blood"></i></div>
                  <h4><a href="">Our Blood Donors</a></h4>
                  <p>Blood donors across the globe who became part of our organization by helping our recepients</p>
                </div>
              </div>

              <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                  <div class="icon"><i class="bx bx-body"></i></div>
                  <h4><a href="">Our Organ Donors</a></h4>
                  <p>Organ donors across the globe who became part of our organization by helping our recepients</p>
                </div>
              </div>

              <div class="col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                  <div class="icon"><i class="bx bxs-droplet"></i></div>
                  <h4><a href="">Our Blood Recepients</a></h4>
                  <p>People our organization helped by providing assistance in times of need</p>
                </div>
              </div>

              <div class="col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                  <div class="icon"><i class="bx bxs-heart"></i></div>
                  <h4><a href="">Our Organ Recepients</a></h4>
                  <p>People our organization helped by providing assistance in times of need</p>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Bank Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title" data-aos="fade-right">
              <h2>BANKS<br>NEARBY</h2>
              <p>Every two seconds someone needs blood or any organ. Thus we provide you the facility where you can get the information about the available blood in nearby blood banks , organs in nearby organ banks and the same in hospitals</p>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-md-6 d-flex align-items-stretch">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon"><i class="bx bxs-buildings"></i></div>
                  <h4><a href="">Blood Banks</a></h4>
                  <p>Check the availabilty of blood according to your blood group in Blood Banks near you</p>
                </div>
              </div>

              <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                  <div class="icon"><i class="bx bxs-business"></i></div>
                  <h4><a href="">Organ Banks</a></h4>
                  <p>Check the availabilty of required organs in Organ Banks near you</p>
                </div>
              </div>

              <div class="col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="200" style="">
                  <div class="icon"><i class="bx bxs-clinic"></i></div>
                  <h4><a href="">Hospitals</a></h4>
                  <p>Check the availabilty/information of required organs/blood in Hospitals near you</p>
                </div>
              </div> 
              
              <div class="col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                  <div class="icon"><i class="bx bxs-cylinder"></i></div>
                  <h4><a href="">Oxygen Cylinders</a></h4>
                  <p>Check the availabilty of Oxygen cylinders in various medical stores/hospitals/companies near you</p>
                </div>
              </div>              

            </div>
          </div>
        </div>

      </div>
    </section><!-- End Bank Section -->    


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-left">
          <h2>Events/News</h2>
          <p>More information is always better than less. When people know the reason things are happening, even if it's bad news, they can adjust their expectations and react accordingly. Keeping people in the dark only serves to stir negative emotions.
          </p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Campaigns</li>
              <li data-filter=".filter-card">Drives</li>
              <li data-filter=".filter-web">News</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://www.organindia.org/wp-content/uploads/2020/03/Collaborative-Conclave-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>National Initiative</h4>
                <div class="portfolio-links">
                  <a href="https://www.organindia.org/events/collaborative-conclave-on-organ-donation/" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="https://www.organindia.org/wp-content/uploads/2020/06/8-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>CSIF</h4>
                <div class="portfolio-links">
                  <a href="https://www.organindia.org/events/organ-donation-awareness-session-cisf-jawans-red-fort/" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://www.organindia.org/wp-content/uploads/2020/06/3-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Organ Donation Campaigns</h4>
                <div class="portfolio-links">
                  <a href="https://www.organindia.org/events/organ-donation-awareness-pocso-event-gurugram-haryana/" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="https://cih.com.vn/images/08.2019/IMG_7445.JPG" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Blood Donation Drive</h4>
                <div class="portfolio-links">
                  <a href="https://cih.com.vn/en/internal-medicine-surgery/1684-blood-donation-event-share-life.html" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="https://s24477.pcdn.co/wp-content/uploads/2021/09/127645166_web1_Blood-640x381.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Blood Donation Camp</h4>
                <div class="portfolio-links">
                  <a href="https://www.clintonnc.com/news/55310/srmc-urges-blood-donations-2" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://www.organindia.org/wp-content/uploads/2020/06/2-6.jpg
              " class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Donation Drive</h4>
                <div class="portfolio-links">
                  <a href="https://www.organindia.org/events/awareness-session-conducted-organ-india-ncc-girl-cadets/" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="https://i.dailymail.co.uk/1s/2021/10/21/18/49477909-10116133-image-a-5_1634838167859.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Oxygen Cylinder Blast</h4>
                <div class="portfolio-links">
                  <a href="https://www.dailymail.co.uk/news/article-10116133/Coroner-insists-oxygen-training-paramedics.html" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="https://images.indianexpress.com/2014/03/Indiaoxygencrisis.jpg?resize=718,405" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>COVID-19: Understanding the difference between oxygen concentrator and oxygen cylinder</h4>
                <div class="portfolio-links">
                  <a href="https://indianexpress.com/article/lifestyle/health/covid-19-understanding-the-difference-between-an-oxygen-concentrator-and-oxygen-cylinder-7304017/" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="https://www.dailynews.com/wp-content/uploads/2021/10/LDN-L-MARROW-HOPE-1015-1.jpg?w=1020" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>City of Hope bone marrow recipients virtually meet their donors, both German residents</h4>
                <div class="portfolio-links">
                  <a href="https://www.dailynews.com/2021/10/19/city-of-hope-bone-marrow-recipients-virtually-meet-their-donors-both-german-residents/" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title" data-aos="fade-right">
              <h2>Testimonials</h2>
              <p>Here are stories/reviews from our past/present donors and recepients.
                Looking forward to hear from you.
              </p>
            </div>
          </div>
          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      I have seen many of my students volunteer to give blood at the high school to help others. So, as a teacher, I want to follow their example. I think it’s important to practice what you preach, and since we emphasize the importance of helping the community, this is one way to do that.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="https://utahblood.org//resources/images/story-images/NatalieNielsen.jpg" class="testimonial-img" alt="">
                    <h3>Natalie Nielsen</h3>
                    <h4>Teacher &amp; West Jordan High School</h4>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      I have five children, three sons and two daughters. Each of my three sons had birth defects, and two required major surgeries. We were able to count on blood donations from strangers to help our sons survive those traumatic surgeries and recoveries. I am grateful for the chance to help other parents whose child is facing a health crisis. I donate blood and want to inspire other parents to donate.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="https://utahblood.org//resources/images/story-images/Karla.jpg" class="testimonial-img" alt="">
                    <h3>Paige Norton</h3>
                    <h4>Designer</h4>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      I saw the need on the news and thought, “Why not?”
                        I’m a spontaneous impulsive teenager!
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="https://utahblood.org/resources/images/story-images/AlyssaLarsen.jpg" class="testimonial-img" alt="">
                    <h3>Alyssa Larten</h3>
                    <h4>Student</h4>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      I love people! I’m the kind of person who drops everything for people in need, and donating blood every chance I get is my favorite way to help others. It’s simple, it doesn’t cause me any inconvenience, and I have a sure way of knowing that my donation makes a difference.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="https://utahblood.org/resources/images/story-images/KendrahYardley.jpg" class="testimonial-img" alt="">
                    <h3>Kendrah Yardley</h3>
                    <h4>Freelancer</h4>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      My sister’s daughter was born with a genetic heart defect – left heart syndrome – and at two weeks old she had open heart surgery. She’s now three and is preparing for her third heart surgery. I know that without blood donations, her life-saving surgeries would not have been possible. I try to donate as often as possible.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="https://utahblood.org/resources/images/story-images/BeckyModderman.jpg" class="testimonial-img" alt="">
                    <h3>Becky Modderman</h3>
                    <h4>Entrepreneur</h4>
                  </div>
                </div><!-- End testimonial item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title" data-aos="fade-right">
              <h2>Team</h2>
              <p></p>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">

              <div class="col-lg-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                  <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Abhinav Aggrawal</h4>
                    <span>Full Stack Developer</span>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href="https://www.instagram.com/abhinav.aggrawal.376/" target="blank"><i class="ri-instagram-fill"></i></a>
                      <a href="https://github.com/qw-erty" target="blank"><i class="ri-github-fill"></i></a>
                      <a href="https://www.linkedin.com/in/abhinav-aggrawal-aa97b6201/" target="blank"> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member" data-aos="zoom-in" data-aos-delay="200">
                  <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Shreya Joshi</h4>
                    <span>Frontend Developer/UI Developer</span>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href="https://www.instagram.com/aniruxhjs07/" target="blank"><i class="ri-instagram-fill"></i></a>
                      <a href="https://github.com/AnirudhJS07" target="blank"><i class="ri-github-fill"></i></a>
                      <a href="https://www.linkedin.com/in/anirudhjs07/" target="blank"> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4">
                <div class="member" data-aos="zoom-in" data-aos-delay="300">
                  <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Anirudh Sharma</h4>
                    <span>Frontend Developer/Content Manager</span>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href="https://www.instagram.com/shreahh/"target="blank"><i class="ri-instagram-fill"></i></a>
                      <a href="https://github.com/shreyaj1" target="blank"><i class="ri-github-fill"></i></a>
                      <a href="https://www.linkedin.com/in/shreya-joshi-211a07146" target="blank"> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4">
                <div class="member" data-aos="zoom-in" data-aos-delay="400">
                  <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Swati Gupta</h4>
                    <span>Frontend Developer/UI Developer</span>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href="https://www.linkedin.com/in/swati-gupta-816b26204" target="blank"><i class="ri-instagram-fill"></i></a>
                      <a href="https://github.com/Swatigupta-droid" target="blank"><i class="ri-github-fill"></i></a>
                      <a href="https://www.linkedin.com/in/swati-gupta-816b26204" target="blank"> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <div class="section-title">
              <h2>Contact</h2>
              <p>If you recently donated and have developed a fever or other symptoms that suggest a recent infection or you want to provide additional information about your donation please call 1-866-236-3276 for immediate assistance (Option 2 in the phone system). For your convenience, this number is available 24 hours a day, 365 days a year.
                Please use this form to contact us regarding any questions, comments or concerns you may have.</p>
            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
            <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
            <div class="info mt-4">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Punjabi Bagh,New Delhi</p>
            </div>
            <div class="row">
              <div class="col-lg-6 mt-4">
                <div class="info">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>donatly101@xyz.com</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="info w-100 mt-4">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+1 5589 55488 55s</p>
                </div>
              </div>
            </div>

            <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <%- include("partials/footer"); -%>